apiVersion: v1
kind: Service
metadata:
  name: prometheus-server
  namespace: prom
  labels:
    app: prometheus
    component: server
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 9090
      protocol: TCP
      name: http
    - port: 10901
      targetPort: 10901
      protocol: TCP
      name: grpc  # Required for Thanos sidecar (you have Thanos enabled)
  selector:
    app: prometheus
    component: server
